[Unit]
Description=Enable automatic startup program

[Service]
ExecStart=/usr/bin/python3 /Python_Boot_Systemctl_Systemd/app.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target